@model LaptopPCStore.Models.Invoice

@{
    ViewData["Title"] = "Create Invoice";
}
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
<section class="">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <p class="fw-bold text-success mb-2">Add</p>
                <h2 class="fw-bold">New Invoice</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-xl-8">
                <div>
                    <form asp-action="Create" class="p-3 p-xl-4" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <select required asp-for="lap_id" class="form-control" asp-items="ViewBag.lap_id"></select>
                                </div>

                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <input required asp-for="inv_mail" type="email" class="form-control" placeholder="Invoice Mail ID" />
                                    <span asp-validation-for="inv_mail" class="text-danger"></span>
                                </div>


                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <input required asp-for="inv_name" class="form-control" placeholder="Invoice Name" />
                                    <span asp-validation-for="inv_name" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <input required type="tel" asp-for="inv_phone" class="form-control" placeholder="Invoice Phone Number" />
                                    <span asp-validation-for="inv_phone" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-6 mb-3"><input class="form-control" asp-for="quantity" type="text" id="quantity" name="quantity" placeholder="Invoice Quantity" min="1" max="20" step="1" oninput="this.form.pur_quantity_range.value=this.value"></div>
                            <div class="col-lg-6 mb-3 d-xl-flex align-items-xl-center"><input class="form-range form-control" type="range" id="pur_quantity_range" name="pur_quantity_range" placeholder="Quantity" min="1" max="20" step="1" oninput="this.form.quantity.value=this.value" value="1"></div>
                            <span asp-validation-for="quantity" class="text-danger"></span>



                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <textarea required asp-for="inv_address" class="form-control" placeholder="Invoice Address"> </textarea>
                                    <span asp-validation-for="inv_address" class="text-danger"></span>
                                </div>

                            </div>
                        </div>
                        <div><button class="btn btn-primary shadow d-block w-100" type="submit">Add Invoice</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@*<div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="userID" class="control-label"></label>
                    <input asp-for="userID" class="form-control" />
                    <span asp-validation-for="userID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="lap_id" class="control-label"></label>
                    <select asp-for="lap_id" class ="form-control" asp-items="ViewBag.lap_id"></select>
                </div>
                <div class="form-group">
                    <label asp-for="quantity" class="control-label"></label>
                    <input min="1" asp-for="quantity" class="form-control" />
                    <span asp-validation-for="quantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="inv_name" class="control-label"></label>
                    <input asp-for="inv_name" class="form-control" />
                    <span asp-validation-for="inv_name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="inv_phone" class="control-label"></label>
                    <input type="tel" asp-for="inv_phone" class="form-control" />
                    <span asp-validation-for="inv_phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="inv_mail" class="control-label"></label>
                    <input asp-for="inv_mail" class="form-control" />
                    <span asp-validation-for="inv_mail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="inv_address" class="control-label"></label>
                    <input asp-for="inv_address" class="form-control" />
                    <span asp-validation-for="inv_address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>*@

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
