@model LaptopPCStore.Models.Purchase

@{
    ViewData["Title"] = "Create";
}



<section class="">
    <div class="container ">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <p class="fw-bold text-success mb-2">Add</p>
                <h2 class="fw-bold">New Purchase</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-xl-8">
                <div>
                    <form class="p-3 p-xl-4" method="post">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label asp-for="lap_id" class="control-label"></label>
                                    <select asp-for="lap_id" placeholder="Laptop" required class="form-control" asp-items="ViewBag.lap_id"></select>
                                    <span asp-validation-for="lap_id" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label asp-for="ven_id" class="control-label"></label>
                                    <select asp-for="ven_id" placeholder="Vendor" required class="form-control" asp-items="ViewBag.ven_id"></select>
                                    <span asp-validation-for="ven_id" class="text-danger"></span>
                                </div>
                            </div>
                            @*<div class="col-lg-12">
                                <div class="mb-3"><input class="form-control" type="text" id="ven_name" name="ven_name" placeholder="Vendor Name"></div>
                            </div>*@
                        </div>
                        <div class="row">
                            @*<div class="col-lg-6">
                                <div class="mb-3"><input class="form-control" type="text" id="lap_name" name="lap_name" placeholder="Laptop Name"></div>
                            </div>*@

                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col-lg-6"><input class="form-control" asp-for="purchase_quantity" type="text" id="purchase_quantity" name="purchase_quantity" placeholder="Quantity" min="1" max="20" step="1" oninput="this.form.lap_quantity_range.value=this.value"></div>
                                        <div class="col-lg-6 d-xl-flex align-items-xl-center"><input class="form-range form-control" type="range" id="lap_quantity_range" name="lap_quantity_range" placeholder="Vendor Email" min="1" max="20" step="1" oninput="this.form.purchase_quantity.value=this.value" value="1"></div>
                                        <span asp-validation-for="purchase_quantity" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                @*<div class="mb-3"><input class="form-control" type="text" id="purchase_date" name="purchase_date" placeholder="Purchase Date"></div>*@
                                <div class="mb-3"><input class="form-control" asp-for="purchase_date" type="datetime-local" id="purchase_date" name="purchase_date" placeholder="Purchase Date"></div>
                                <span asp-validation-for="purchase_date" class="text-danger"></span>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3"><input class="form-control" asp-for="purchase_cost" type="number" id="purchase_cost" min="1" name="purchase_cost" placeholder="Purchase Cost"></div>
                                <span asp-validation-for="purchase_cost" class="text-danger"></span>
                            </div>
                        </div>
                        <div><button class="btn btn-primary shadow d-block w-100" type="submit">Add Purchase</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ven_id" class="control-label"></label>
                <select asp-for="ven_id" class ="form-control" asp-items="ViewBag.ven_id"></select>
            </div>
            <div class="form-group">
                <label asp-for="lap_id" class="control-label"></label>
                <select asp-for="lap_id" class ="form-control" asp-items="ViewBag.lap_id"></select>
            </div>
            <div class="form-group">
                <label asp-for="purchase_quantity" class="control-label"></label>
                <input asp-for="purchase_quantity" class="form-control" />
                <span asp-validation-for="purchase_quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="purchase_date" class="control-label"></label>
                <input asp-for="purchase_date" class="form-control" />
                <span asp-validation-for="purchase_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="purchase_cost" class="control-label"></label>
                <input asp-for="purchase_cost" class="form-control" />
                <span asp-validation-for="purchase_cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
