@model LaptopPCStore.Models.Vendor

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Vendor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ven_id" />
            <div class="form-group">
                <label asp-for="ven_name" class="control-label"></label>
                <input asp-for="ven_name" required class="form-control" />
                <span asp-validation-for="ven_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ven_number" class="control-label"></label>
                <input asp-for="ven_number" required class="form-control" />
                <span asp-validation-for="ven_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ven_mail" class="control-label"></label>
                <input asp-for="ven_mail" required class="form-control" />
                <span asp-validation-for="ven_mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ven_address" class="control-label"></label>
                <input asp-for="ven_address" required class="form-control" />
                <span asp-validation-for="ven_address" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-dark ms-2" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
